<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image for Emotion Detection</title>
</head>
<body>
    <h1>Upload Image for Emotion Detection</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit">Upload Image</button>
    </form>
    {% if emotion %}
    <h2>Detected Emotion: {{ emotion }}</h2>
    {% endif %}
    <br><br>
    <a href="{{ url_for('stop_music') }}">Stop Music</a>
</body>
</html>